@media (min-width:769px){
main{
    width: 80%;
    margin: auto;
    margin-top: 110px;
}

.Info {
  margin-top: 50px;
  font-size: .8em;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bolder;
}
}
@media (max-width:799px){
    main{
        width: 80%;
        margin: auto;
        margin-top: 110px;
    }
    
    .Info {
      margin-top: 50px;
      font-size: .9em;
      text-align: center;
      margin-top: 20px;
      padding: 10px;
      border-radius: 5px;
      font-weight: bolder;
}
}